/* This is my first proper css file */

body{
    background-color: rgb(251, 169, 44);
    max-width: 400px;
    margin: auto;
}


h1{color:rgb(158, 158, 158);
    font-family: 'Roboto', sans-serif;
}
h3{
    color:rgb(86, 86, 86);
    font-family: 'Roboto', sans-serif;
}

p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: rgb(255, 255, 255);
    width:300px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}
